@import "colors";
@import "mixins";
@import "fonts";


.custom-btn-viking-blue {
  background-color: $viking-blue;
  color: $white;
  font-size: $fs-16px;
  border-radius: $fs-8px !important;
  @include setFont(500, normal, normal, normal, center);
  @include setPadding($fs-8px, $fs-20px, $fs-8px, $fs-20px);
  font-family: $roboto-medium;
  border-color: $viking-blue;
  border-radius: $fs-2px !important;
  &:hover {
    @include setBtnColor( $viking-blue !important, $viking-blue, $white !important)
  }
  &:focus {
    box-shadow: none !important;
    @include setBtnColor( $viking-blue !important, $viking-blue, $white !important)

  }
}
